html
{
  background-color: #383838;
  color: white;
}

.guessed
{
  background-color: #d1d1d1;
}

img
{
  padding: 15px;
}

button
{
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: rgb(213, 213, 213);
  margin-left: 48%;
}

.main
{
  max-width: 550px;
  margin: auto;
  width: 50%;
}

.memTxt
{
  color: white;
  text-align: center;
}
